.jumpToTop{
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(238, 238, 238, 0.30);
    font-size: 12px;
    padding: 1em;
}
.jumpToTop:hover{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(100, 100, 100, 0.70);
}
